/* Resetear estilos por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos para el cuerpo de la página */
  body {
    font-family: "Raleway", Arial, sans-serif;
    background-color: #797979;
  }

  
  .navbar {
    background-color: #1a2e05;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: "Lato", Arial, sans-serif;
  }
  
  /* Estilos para los enlaces en la barra de navegación */
  .nav-links {
    list-style: none;
    display: flex; /* Mostrar los enlaces en línea */
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: normal; /* Cambiar el peso del texto a normal */
    position: relative;
    transition: color 0.3s, transform 0.3s;
  }
  
  .nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #6bff16; /* Color de subrayado al hacer hover */
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s;
  }
  
  .nav-links a:hover {
    color: #6bff16; /* Color del texto al hacer hover */
    transform: translateY(-3px); /* Desplazamiento hacia arriba al hacer hover */
  }
  
  .nav-links a:hover::after {
    transform: scaleX(1);
  }
  /* Estilos para el logo */
  .logo img {
    width: 80px;
    height: 80px;
  }
  
.search-form {
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: relative; /* Añade una posición relativa al formulario para posicionar el botón */
  }
  
  .search-form input[type="text"] {
    background: transparent;
    border: none;
    color: white;
    padding: 5px;
    border-bottom: 1px solid white;
    margin-right: 5px;
  }
  
  .search-form button {
    background: transparent;
    border: none;

  }
  
  .cart-icon {
    margin-left: 60px; /* Ajusta el margen según sea necesario */
    padding-bottom: 50px;
  }
  
  .cart-icon img {
    width: 40px; /* Ajusta el tamaño según sea necesario */
  }
  
  /* Estilos para el ícono de perfil */
  .profile-icon img {
    margin-left: 40px;

  }
  
/* Estilos para la sección del héroe */
.hero {
  padding: 80px 0; /* Ajusta el espaciado según tus necesidades */
}

.hero-image {
  transition: transform 0.3s ease-in-out; /* Agrega una transición suave */
}
/* Estilo inicial del título */
.hero-title {
  color: #000; /* Color inicial del texto */
  transition: color 0.5s ease-in-out; /* Transición suave para el color */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

/* Estilo del título cuando se pasa el mouse sobre él */
.hero-title:hover {
  color: #4caf50; /* Cambia el color al pasar el mouse */
}



  .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  
  .image-container {
    height: 400px;
    width: 533px;
    background-repeat: no-repeat;
    margin: 5% auto;
    border-radius:70px;
    position: relative;
  }
  
  .content h2 {
    font-size: 19px;
  }
  

   .hero h1 {
    font-size: 36px;
    margin: 0;
  }
  
  .hero p {
    font-size: 18px;
  }


  .categories {
    background-color: #64a30d5a; /* Fondo verde claro para el contenedor de categorías */
    border: 1px solid #0b1c0f; /* Borde del contenedor */
    border-radius: 40px; /* Bordes redondeados del contenedor */
    margin-top: 20px; /* Margen superior para separar del contenido anterior */
    padding: 20px; /* Espaciado interno del contenedor */
  }

  .categories h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra del texto */
    margin-bottom: 15px; /* Margen inferior para separar del contenido siguiente */
  }

  .profile-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px #000000;
    padding: 30px;
    margin-top: 50px;
  }

  .profile-header {
    text-align: center;
    margin-bottom: 30px;
  }

  .profile-section {
    background-color: #f1f3f5;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #d1d1d1;
    padding: 20px;
    margin-bottom: 20px;
  }

  .profile-section h2 {
    color: #495057;
  }

  .profile-section ul {
    list-style-type: none;
    padding: 0;
  }

  .profile-section ul li {
    margin-bottom: 10px;
  }

  .profile-section img {
    max-width: 100%;
    border-radius: 50%;
    border: 4px solid #ffffff;
    transition: transform 0.3s ease-in-out;
  }

  .profile-section img:hover {
    transform: scale(1.1);
  }
  
/* Estilos para las categorías */
.category {
    text-align: center;
    cursor: pointer;
    background-color: #4d7c0f;
    transition: background-color 0.5s, transform 0.2s;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid #252525; /* Color de borde inicial */
    color: #252525; /* Color del texto inicial */
    text-decoration: none; /* Elimina el subrayado */
    font-weight: normal; /* Elimina la negrita */
  }
  
.category:hover {
    background-color: rgb(135, 255, 22); /* Color de fondo al hacer hover */
    color: white; /* Color del texto al hacer hover */
    transform: translate(0, -5px); /* Desplazamiento hacia arriba al hacer hover */
    border: 2px solid #004629; /* Color de borde al hacer hover */
    transition: background-color 0.5s, transform 0.2s, color 0.5s, border 0.5s;
  }
  
.category img {
    width: 80px;
    height: 80px;
  }
  
.category h2 {
    margin: 10px 0;
  }

/* Estilos para las categorías */
.category a {
    color: #1a2e05;
    text-decoration: none; /* Elimina el subrayado */
    font-weight: normal; /* Elimina la negrita */
  }
  
  
  /* Estilos para el pie de página */
  footer {
    text-align: center;
    background-color: #1a2e05;
    color: white;
    padding: 10px 0;
    font-family: "Louis George Cafe", Arial, sans-serif;
    height: 100%;
    
  }
  